* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #666;
  font-family: 'montserrat';
  scroll-behavior: smooth;
}

ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 0.8;
  color: #fff;
}

a:hover {
  opacity: 1;
}

a.btn {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: #fe1e4f;
  opacity: 1;
  border-radius: 50px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.7); 
}
.navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}

/* landing */

#landing {
  min-height: 100vh;
  background-image: url('/images/background-photo.jpg');
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  #landing {
    background-size: contain;
  }
}

.my-picture {
  max-width: 20em;
  height: auto;
  display: block;
  margin: 0 auto;
}

.typewriter,
.typewriter2 {
  position: relative;
}

.typewriter h3,
.typewriter2 h3 {
  overflow: hidden;
  border-right: .10em solid #dc3545;
  white-space: nowrap;
  width: 0;
  animation: switchLines 8s steps(42, end) infinite;
}

.typewriter2 h3 {
  animation-delay: 4s;
}

@keyframes switchLines {
  0%, 25% { width: 0; opacity: 0; }
  50%, 75% { width: 100%; opacity: 1; }
  100% { width: 0; opacity: 0; }
}

/* Additional CSS to hide the second line initially */
.hidden {
  opacity: 0;
  visibility: hidden;
}

#landing .bi {
  font-size: 30px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px ;
}

/* end of landing */


/* project */

#projects {
  min-height: 100vh;
  background: black;
}

#projects h5 {
  color: #FFDB58;
  text-transform: uppercase;
  text-align: center;
}

#projects div img {
  height: auto;
  width: 100%;
}

#projects .card {
  background-color: #404040;
  width: 18rem;
}

.card-link {
  color: yellow;
}

.card-link:hover {
  color: #fff;
}

.card-link:active {
  color: pink;
}

.card {
  min-height: 100%;
}

#projects img {
  max-width: 100%;
  height: auto;
}

/* end of project */

/* tools */


#tools img {
  width: 150;
}

/* end of tools */

/* contact */



#contact a {
  margin: 0 2em;
}

#contact iframe {
  width: 80%;
  height: 80%;
}


/* end of contact */


#tools {
  border: 2px solid black;
  min-height: 100vh;
}

#contact {
  border: 2px solid black;
  min-height: 100vh;
}